<div class="container" id="about">
	<div class="row">
		<div class="col-xs-12 flex-center">
			<h2>About</h2>
		</div>
		<div class="col-xs-10 col-sm-5 well well-lg" id="img_well">
		<!--	<img class="img-fluid img-rounded" src="holder.js/300x200?bg=54baaf"> -->
		<img class="img-fluid img-rounded" src="/img/taylor.jpg">
		</div>
		<div class="col-xs-10 col-sm-5 well well-lg">
			<p>I am a student and a freelance developer who has dabbled in writing code for three years--about a year ago, I set out on a journey to make it my career.

			<br /><br />

			I am able to offer sites ranging from simple, static content to complex webapps with complex custom backends. Please <a href="#contact">contact me</a> for a quote.</p>
		</div>
	</div>
</div>
