<div class="container" id="contact">
<div class="row">
<div class="col-xs-12 flex-center">
			<h2>Contact</h2>
</div>
<div class="col-xs-12 col-sm-8 text-center">
<form action="/contact" name="contactus" id="contactus" method="post">
		<div class="flex-around">
			<input type="text" placeholder="First Name" name="firstName" id="firstName" class="form-control col-sm-6 validate">
			<input type="text" placeholder="Last Name" name="lastName" id="lastName" class="form-control col-sm-6 validate">
</div>		
		<input type="email" placeholder="Email" name="email" id="email" class="form-control col-sm-6 validate">

		<textarea class="col-sm-10 form-control validate" rows="5" placeholder="Message..." style="margin-bottom: 30px;" name="message" id="message"></textarea>

		<div class="row" style="padding-top: 0; padding-bottom: 5rem">
		<input class="btn btn-primary btn-lg" name="submit" type="submit" value="Send" id="submit">
		</div>
</form>
</div>
</div>
</div>
