		</div>
		<div class="container" id="social">
		<footer id="footer">
			<div class="col-xs-8 col-sm-6 footer">
				<a href="https://github.com/tgrowden" target="_blank" title="Github"><i class="fa fa-2x fa-github-alt"></i></a>
				<a href="mailto:taylorgrowden@gmail&subject=Hello" title="Email"><i class="fa fa-2x fa-envelope-o"></i></a>
				<a href="http://linkedin.com/in/tgrowden" target="_blank" title="Linkedin"><i class="fa fa-2x fa-linkedin"></i></a>
<a href="#"><i class="icon-taylor" style="font-size: 4em;"></i></a>
			</div>
				<ul class="list-unstyled text-center">
					<li class="list-group-item"><h5>Taylor Growden</h5></li>
					<li class="list-group-item"><a href="/resume.pdf" target="_blank">View</a> or <a href="/resume.pdf" download="resume-Taylor_Growden.pdf">Download</a> my résumé</li>
					<li class="list-group-item"><a class="nostyle" href="mailto:taylor@tgrowden.com"><i class="fa fa-envelope"></i> taylor.growden@gmail.com</a></li>
					<li class="list-group-item"><a class="nostyle" href="tel: +12403563620"><i class="fa fa-phone"></i> +1(240)356-3620</a></li>
				</ul>
		</footer>
		</div>
  </body>
 </html>
