<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" content="Taylor Growden">
<meta name="google-site-verification" content="cHvCsajVsgXkkkPACuglbbAqsp1mrIlSz6ucRcYbolk" />
<title><%= title %> - <%= siteTitle %></title>

<link rel="stylesheet" href="/css/bootstrap.min.css">
<link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
<link href="https://file.myfontastic.com/SjcJqAKrYUoPHZwZPf5rfD/icons.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/scripts.js"></script>
<script src="/js/holder.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel='stylesheet' href='/css/style.css' />
