<nav class="navbar navbar-inverse bg-faded navbar-fixed-top">
  <button class="navbar-toggler hidden-md-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">
    &#9776;
  </button>
  <div class="collapse navbar-toggleable-sm" id="exCollapsingNavbar2">
    <a class="navbar-brand" href="#home"><%=siteTitle%></a>
  <div id="navLinks" class="col-xs-12 text-center">

    <ul class="nav navbar-nav pull-xs-right col-xs-12 list-unstyled">
      <li class="nav-item">
        <a class="nav-link" href="#home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#contact">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#social">Social</a>
      </li>
    </ul>
  </div>
  </div>
</nav>
