<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body id="home">
  <% include ./partials/navbar %>
  <div id="homeImg" class="col-xs-12">
    <img alt="" src="/img/home.jpg" class="img-fluid">
    <div class="col-xs-2 overlay">
      <a href="https://github.com/tgrowden" title="Github" target="_blank" class="btn btn-primary"><i class="fa fa-github-alt"></i> Find me on Github</a>
    </div>
  </div>
  <div class="conrainer">
    <% include ./partials/about %>
    <% include ./partials/contact %>
  </div><!-- /.container -->
  <% include ./partials/footer %>
