body {
  background-color: #3c3c3c;
  padding-top: 3rem;
  font-family: 'Lato';
}

.bg-faded {
  background-color: #222!important;
}

div#homeImg {
  padding-left: 0;
  padding-right: 0;
}

#homeImg img {
  width: 100%;
}

.row {
  justify-content: space-around;
  padding-top: 5rem;
}

.container {
  background-color: #d5d5d5;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.overlay {
  z-index: 9;
  left: 0;
  right: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  display: flex;
}

.text-center {
  text-align: center;
}

h2 {
  padding-bottom: 1.5rem;
  text-transform: uppercase;
}

.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
  display: flex;
  justify-content: center;
}

.well blockquote {
  border-color: #ddd;
  border-color: rgba(0, 0, 0, .15)
}

.well-lg {
  padding: 24px;
  border-radius: 6px
}

.well-sm {
  padding: 9px;
  border-radius: 3px
}

a.nostyle {
  text-decoration: none;
  color: inherit;
}

.list-group-item {
  border: none;
}

a:hover, a > i.fa:hover {
  color: #388a81;
}

.btn-primary:hover {
  background-color: #388a81;
  border-color: #388a81;
}

.btn:focus {
  outline-color: #265e58;
}

a > i.fa {
  color: #54baaf;
}

.navbar-toggler {
  float: right;
}

#homeImg .btn, #homeImg .btn i {
  color: #222;
}

.flex-around {
  display: flex;
  justify-content: space-around;
}

footer {
  background-color: #222;
  margin-left: -.9375rem;
  margin-right: -.9375rem;
  padding-bottom: 1.5rem;
  margin-bottom: 2.5rem;
  padding-top: 2.5rem;
}

.footer {
  padding-bottom: 1rem;
  display: flex;
  justify-content: space-around;
}

footer .list-unstyled li {
  background-color: inherit;
  color: #d5d5d5;
}

footer div {
  display: flex;
  justify-content: center;
}

#img_well {
  padding-left: 0px;
  padding-right: 0px;
  background-color: inherit;
  border: none;
  box-shadow: inherit;
}

#img_well img {
      width: 275px;
    height: 250px;
}

@media (max-width: 767px) {
  #navLinks {
    display: flex;
    width: 100%;
  }
  #navLinks ul {
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .navbar-nav .nav-item+.nav-item {
    margin-left: 0;
  }
}
